.component3 {
    text-align: center;
}
.ageBtn {
    font-size: 16px;
    color: aquamarine;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    border: 1px solid rebeccapurple;
    border-radius: 20px;
}